<div class="row"> 
    <h1 class="text-center text-primary fw-bold my-5">Registration Form</h1> 
    <div class="row">
       {{regForm.value | json}}
    </div>
    <div class="col-md-12">
        <form [formGroup]="regForm">
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="fname text-dark">First Name</label></div>
            <div class="col-md-6 col-sm-12"><input formControlName="fname" type="text" class="form-control" id="fname"  /></div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="lname">Last Name</label></div>
            <div class="col-md-6 col-sm-12"><input formControlName="lname" fornm type="text" class="form-control" id="lname"  /></div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="email">Email</label></div>
            <div class="col-md-6 col-sm-12"><input formControlName="email" type="text" class="form-control" id="email" /></div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="mobile">Mobile</label></div>
            <div class="col-md-6 col-sm-12"><input formControlName="mobile" type="text" class="form-control" id="mobile" /></div>
        </div>
        
        <!-- <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="state">State</label></div>
            <div class="col-md-6 col-sm-12">
                <select class="form-control" name="state" id="state">
                    <option value="">--Select State--</option>
                </select>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="dist">District</label></div>
            <div class="col-md-6 col-sm-12">
                <select class="form-control" name="dist" id="dist">
                    <option value="">--Select District--</option>
                </select>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="city">City</label></div>
            <div class="col-md-6 col-sm-12">
                <select class="form-control" name="city" id="city">
                    <option value="">--Select City--</option>
                </select>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="gender">Gender</label></div>
            <div class="col-md-6 col-sm-12">
                <input type="radio" value="male" name="male"><label class="mx-2">Male</label>       
                <input type="radio" value="female" name="female"><label class="mx-2">Female</label>       
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12"><label class="fw-bold" for="hobbies">Hobbies</label></div>
            <div class="col-md-6 col-sm-12">
                <input type="checkbox" /><label class="mx-2"> Sports</label>
                <input type="checkbox" /><label class="mx-2"> Books</label>
                <input type="checkbox" /><label class="mx-2"> Movies</label>
                <input type="checkbox" /><label class="mx-2"> Travel</label>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3 col-sm-12 mt-5"><label class="fw-bold" for="upload">Profile Photo</label></div>
            <div class="col-md-3 col-sm-12 mt-5"><input type="file" class="form-control" id="mobile" name="mobile" /></div>
            <div class="col-md-3 col-sm-12">
                <img class="upload-image float-end" src="../../assets/images/user.png" alt="user" />
            </div>
        </div> -->
        <div class="row mt-1 mb-5">
            
            <div class="offset-5">
                <button class="btn btn-primary btn-lg" type="button">Submit</button>
            </div>
        </div>
    </form>
    </div>
</div>