<div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Mobile</td>
                <td>Email</td>
                <td>Gender</td>
                <td>State</td>
                <td>District</td>
                <td>City</td>
                <td>Pincode</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of studentData">
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.mobile}}</td>
                <td>{{student.email}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.state}}</td>
                <td>{{student.district}}</td>
                <td>{{student.city}}</td>
                <td>{{student.pincode}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>